<footer class="footer" id="contacts">
	<div class="footer_container">
		<h3 class="footer__title title">Если есть вопросы, свяжитесь с нами	</h3>
		<div class="footer__social">
			<a href="https://t.me/acecourt_bot" target="_blank"  class="_icon-telegram1 social-header__telegram"></a>
			<a href="https://wa.me/79153005156?text=Привет,%20хочу%20участвовать%20в%20турнире!" target="_blank" class="_icon-wotsap social-header__wotsap"></a>
		</div>
		<div class="footer__nav">
			<ul class="footer__list">
				<div class="footer__list-column">
					<li class="footer__li"><a href="/pages/rating.html" class="footer__link">Рейтинг </a></li>
					<li class="footer__li"><a href="#plan" class="footer__link">Как это работает </a></li>
				</div>
				<div class="footer__list-column">
					<li class="footer__li"><a href="#fag" class="footer__link">FAQ </a></li>
					<li class="footer__li"><a href="#" class="footer__link">Обработка данных </a></li>
				</div>
			</ul>
		</div>
	</div>
	<div class="footer__copywriter__container">
		<a href="#" class="copywriter__link">ACE. Все права защищены ©</a>
	</div>
</footer>
