<header class="header" id="main">
	<div class="header__container">
		  <div class="header__wrapper">
				<div class="header__menu menu">
					{{!-- <div class="menu__logo"> --}}
						<a href="#main" class="header__logo-text">ACE</a>
					{{!-- </div> --}}
					<div class="header__bg">
						<nav class="menu__body">
						<ul class="menu__list">
							<li class="menu__item"><a href="/pages/rating.html" class=" menu__link">Рейтинг</a></li>
							<li class="menu__item"><a href="#plan" class="menu__link">Как это работает</a></li>
							<li class="menu__item"><a href="#fag" class="menu__link">FAQ</a></li>
						</ul>
						<div class="header__social social-header">
							<a href="https://codepen.io/jh3y/pen/ZEGjZvj" target="_blank"  class="_icon-telegram1 social-header__telegram"></a>
							<a href="https://codepen.io/jh3y/pen/ZEGjZvj" target="_blank" class="_icon-wotsap social-header__wotsap"></a>
					</div>
					</nav>
					<div data-da="menu__body,1 ,992.98" class="header__button-inner">
						<a href="https://t.me/acecourt_bot" target="_blank" class="header__btn-contacts">GO!</a>
					</div>
					</div>
					<button type="button" class="header__burger">
						<span></span>
					</button>
				</div>
		  </div>
	</div>
</header>